.catalogue{
  height: 300px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  margin-top: 24px;
  display: flex;
  align-items: center;
  position: relative;
}

.icon{
  font-size: 50px;
}

@media screen and (max-width: 800px){
  .icon{
    display: none;
  }
  .catalogue{
    width: 100vw;
    overflow: scroll;
  }
}