.catalogue{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

.icon{
  font-size: 50px;
}

.featured{
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 800px){
  .icon{
    display: none;
  }
  .catalogue{
    width: 100vw;
    overflow: scroll;
  }
}