.footer{
  height: 100px;
  background-color: #0E4056;
  color: white;
  p {
    width: 60%;
    height: 100%;
    padding-top: 2%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
  }
}