.formContainer{
  width: 90vw;
  margin: 0 auto 50px;
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label{
    width: 300px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    input{
      width: 70%;
    }
  }
  button{
    background-color: #1D83AF;
    color: #FAFAFA;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
  }
}