.header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #0E4056;
  color: #E5E5E5;
}

.header div{
  display: flex;
  p {
    margin-left: 20px;
  }
}

.header img{
  height: 100%;
  width: auto;
}

.header ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header ul li a {
  margin-right: 10px;
}