.hero{
  display: flex;
  margin: 20px;
}

.right_side{
  width: 45vw;
  margin: auto;
  text-align: center;
}

.right_side button{
  background-color: #1D83AF;
  color: #FAFAFA;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
}

@media screen and (max-width: 750px){
  .hero {
    img{
      display: none;
    }
    .right_side {
      width: 80%;
    }
  }
}