.modal{
  position: fixed;
  width: 80vw;
  height: 95vh;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 20px;
  background-color: rgba(255, 255, 255, .95);
  padding: 50px;
  & p {
    white-space: pre-wrap;
    padding: 5px;
  }
  button{
    height: 20px;
    display: flex;
    justify-content: center;
    background: #0E4056;
    color: white;
    border: none;
    align-items: center;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
    left: 30px;
    font-weight: bold;
  }
  & .imageContainer{
    justify-self: center;
    align-self: center;
    height: 100%;
    padding: 0 20px;
    img{
      height: 100%;
    }
  }
  .miniImages{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    .miniContainer{
      width: 100%;
      cursor: pointer;
      img{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 800px){
  .modal{
    grid-template-columns: 100%;
    grid-template-rows: 40% auto 1fr;
    .imageContainer{
      height: 100%;
      display: flex;
      justify-content: center;
      img{
        height: 100%;
        width: auto;
      }
    }
    .textContainer{
      margin-top: 10px;
      overflow: scroll;
    }
    button{
      margin: 10px 0;
      position: initial;
    }
  }
}

@media screen and (max-width: 500px){
  .imageContainer{
    width: 50vw;
  }
}